@import url(comico.css);

@import "https://unpkg.com/open-props";

/* diagnostic styling */
/* * {
  outline: 1px solid gray;
}
 */
/* layout */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(ufo.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    font-family: 'Comico-Regular';
  }
  
  /* scene */
  .scene {
    width: 300px;
    height: 500px;
  
    /* set perspective   */
    perspective: 600px;
  }
  
  /* card */
  .card {
    width: 100%;
    height: 100%;
    position: relative;
    left: 5px; 
    top: 225px;
    
  
    cursor: pointer;
    transition: transform 0.5s;
  
    /* preserve child 3d   */
    transform-style: preserve-3d;
  }
  
  /* face */
  .face {
    position: absolute;
    height: 100%;
    width: 100%;
  
    /* hide back face   */
    backface-visibility: hidden;
  }
  
  .front {
    /* background: var(--yellow-4); */
    text-align: center;
    color: var(--green-12);
   
  }
  
  .back {
    /* background: var(--yellow-2);  */
    color: var(--green-12);
    top: 100px;
    /* flip it default   */
    transform: rotateY(180deg);
  }
  
  a {
    color: var(--green-12);
  }

  p {
    text-align: center;
  }



  /* flip card
    * toggle with JS
    */
  .flipped {
    transform: rotateY(180deg);
  }
  
  #dude {
    width: 75%;
    object-fit: cover;
    position: relative;
    left: 25px;
    
  }
  